/* Rest of css in signin component */

.signup-form {
	width: 70%;
	margin: 0 auto;
}

.tos-confirm-container {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: 0 auto;
	margin-top: 0.8em;
}

.errorMessage, .successMessage {
	width: 50%;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	border-radius: 5px;
}

.errorMessage {
	background: rgba(255, 99, 123, 0.8);
}

.successMessage {
	background: rgba(143, 255, 197, 0.8);
}
