.about-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	background: var(--secondary-color-content);
}

h3, h2, p.mission-text {
	text-align: center;
}

.connect-container {
	display: flex;
	width: 22%;
	justify-content: space-between;
	margin: 0 auto;
}

.terms-policies-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20%;
	margin: 0 auto;
	text-align: center;
}

.top-margin {
	margin-top: 0.4em;
}

.connect-button {
	color: black;
}

.tos {
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.5em;
}

.fa-btn {
	width: 25px !important;
	height: auto;
}

.svg-inline--fa.fa-w-10 {
	width: 17px !important;
}

.about-paragraph {
	width: 80%;
	margin: 0 auto;
}