h3, h2, p.mission-text  {
	text-align: center;
}

.connect-container {
	display: flex;
	width: 22%;
	justify-content: center;
	margin: 0 auto;
}

.terms-policies-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20%;
	margin: 0 auto;
	text-align: center;
}

.top-margin {
	margin-top: 0.4em;
}

.connect-button {
	color: black;
	margin: 0 1.2em;
}

.tos {
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.5em;
}

.fa-btn {
	width: 25px !important;
	height: auto;
	transition: color 0.1s;
}

.twitter-logo:hover {
	/* Twitter Logo */
	color: rgb(28,156,235);
}

.facebook-logo {
	/* Facebook Logo */
	width: 17px !important;
}

.facebook-logo:hover {
	color: rgb(59,89,152);
}

.instagram-logo:hover {
	/* Instagram Logo */
	color: rgb(147,56,188)
}

.about-paragraph {
	width: 80%;
	margin: 0 auto;
}

.about-subheader, .mission-text {
	color: rgb(64, 64, 64);
}

.about-header {
	font-size: 29px;
}
