.signin-form {
	width: 70%;
	margin: 0 auto;
}

.labels, .formfield-input, .formfield-submit {
	display: block;
	margin: 0 auto;
}

.formfield-input {
	width: 60%;
	margin-top: 0.2em;
	padding: 0.4em;
}

.labels {
	margin-top: 0.4em;
	width: 60%;
}

input[type="submit"].formfield-submit {
	margin: 0.5em auto;
	padding: 0.4em 1.2em;
	background: rgba(200, 213, 230, 1);
}

input[type="submit"].formfield-submit:hover {
	background: rgba(200, 213, 230, 0.6);
}
