.help-image{
	margin: 0 auto;
	margin-top: 2em;
	width: 200px;
	height: 150px;
	background: blue;
}

.help-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: var(--content-width-1);
	margin: 0 auto;
	background: var(--secondary-color-content);
	min-height: 100vh;
}