.help-header {
	margin-top: 1.3em;
	width: 100%;
}

.help-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: var(--content-width-1);
	margin: 0 auto;
	background: var(--secondary-color-content);
	min-height: 100vh;
	padding-bottom: 2em;
}
