.recovery-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	width: var(--content-width-1);
	margin: 0 auto;
	background: var(--secondary-color-content);
}

.signin-signup {
	width: 40%;
	margin: 0 auto;
	margin-top: 1em;
	padding: 1em 3em;
}
