.navigation-container {
	position: fixed;
	background: gray;
	top: 0;
	left: 0;
	height: 100vh;
	width: auto;
}

.logo {
	background: pink;
}

.company-logo {
	display: block;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}

.upper-section, .lower-section, .navigation {
	display: flex;
	flex-direction: column;
}

.navigation {
	justify-content: space-between;
	height: 100%;
}


.upper-section .nav-link-container {
	margin-top: 20px;
}

.lower-section {
	margin-bottom: 90%;
}

.lower-section .nav-link-container {
	margin-bottom: 20px;
}

.nav-link-container {
	background-color: red;
	width: 90px;
}

.nav-link {
	display: flex;
	text-decoration: none;
	justify-content: space-around;
	color: black;
}

.nav-link:hover {
	color: blue;
}