.search-container {
	background: rgba(228, 235, 240, 1);
	padding-top: 0.3em;
	border-bottom: 0.1px solid rgb(21, 28, 32, 0.1);
}

.search-text {
	color: var(--text-gray);
}

.search-formfield {
	display: flex;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 2em;
}

.searchfield-text {
	display: block;
	width: 90%;
	border: 0;
	padding: 0.4em;
	font-size: 12px;
	outline: 0;
	text-align: center;
}

input[type="submit"].searchfield-submit {
	display: block;
	width: 40%;
	border: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

