.termsofservice-container {
	padding-top: 1em;
	padding-bottom: 2.2em;
}

.tos_condition {
	width: 80%;
	margin: 0 auto;
	margin-top: 1em;
}

.tos-header {
	margin-top: 1.1em;
	margin-bottom: -0.1em;
}

