.termsofservice-container {
	width: var(--content-width-1);
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 2.2em;
	background: var(--secondary-color-content);
}

.tos_condition {
	width: 80%;
	margin: 0 auto;
	margin-top: 1em;
}

