:root {
	--base-color-1: rgba(61, 98, 120, 0.12);
	--base-color-2: rgba(61, 98, 120, 0.2);
	--base-color-deco: rgb(21, 28, 32);
	--secondary-color-content: rgba(228, 235, 240, 0.6);

	--nav-link-color: rgba(61, 98, 120, 0.1);
	--nav-link-color-hover: rgba(61, 98, 120, 0.2);

	--border-style-1: 11px solid rgb(21, 28, 32, 0.9);

	--content-width-1: 85%;
}

@font-face {
	font-family: fredoka;
	src: url('./fonts/fredoka-one-regular.ttf');
}

@font-face {
	font-family: cabin;
	src: url('./fonts/cabin-regular.ttf');
}

* {
	font-family: cabin;
}

html, body /*div, span, h1, h2, 
h3, h4, p, a, img*/ {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background: var(--base-color-2);
}

a {
	text-decoration: none;
	color: black;
	font-family: cabin;
	font-weight: 300;
	display: block;
}

h1,h2,h3, .center-text {
	text-align: center;
}

h1, h2, h3 {
	font-family: fredoka;
	font-weight: 400;
}

p {
	line-height: 130%;
}
