:root {
	--base-color-1: rgba(255,213,154, 0.3);
	--base-color-2: rgba(255, 233, 201, 0.3);
	--base-color-deco: rgb(196, 153, 92);
	--secondary-color-content: rgba(194, 245, 168, 0.2);

	--nav-link-color: rgba(242, 191, 116, 0.2);
	--nav-link-color-hover: rgba(242, 191, 116, 0.4);

	--border-style-1: 11px solid rgba(196, 153, 92, 0.9);
}

@font-face {
	font-family: fredoka;
	src: url('./fonts/fredoka-one-regular.ttf');
}

@font-face {
	font-family: cabin;
	src: url('./fonts/cabin-regular.ttf');
}

* {
	font-family: cabin;
}

html, body /*div, span, h1, h2, 
h3, h4, p, a, img*/ {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background: var(--base-color-2);
}

a {
	text-decoration: none;
	color: black;
	font-family: cabin;
	font-weight: 300;
}

h1,h2,h3, .center-text {
	text-align: center;
}

h1, h2, h3 {
	font-family: fredoka;
	font-weight: 400;
}

p {
	line-height: 130%;
}
