.privacy-text {
	width: 80%;
	margin: 0 auto;
}

.privacy-list li {
	margin-top: 0.2em;
	margin-left: 10em;
}

.privacy-list-long li {
	margin-left: 7em;
	margin-top: 0.4em;
	width: 80%;
}

.to-about {
	border: 1px solid black;
	padding: 0.3em;
	width: 70px;
}

.to-about-container {
	margin: 0 auto;
	width: 80px;
	margin-top: 3em;
	margin-bottom: 3em;
}

